<section id="hero">
    <div class="hero is-medium" {% if page.header.hero_image %} style="background-image: linear-gradient(-249deg, black, white), url({{ page.header.hero_image }});"{% endif %}>
        <div class="hero-body">
            <div class="container">
    
                <div class="columns _is-centered is-vcentered has-text-white has-text-centered-mobile">
        
                    <div class="column is-full-tablet _is-offset-one-quarter-tablet is-half-desktop">
                        <h1 class="title is-1 has-text-white">{{ page.title }}</h1>
                        <p class="subtitle">{{ content|raw }}</p>
                        <div class="columns _is-desktop">
                            
                            {% for button in page.header.buttons %}
                            <div class="column is-mobile is-multiline is-fullwidth-mobile is-half-tablet">
                                {% if button.ghost == true %}
                                <a class="button is-primary is-medium is-fullwidth has-box-shadow" href="{{ button.url }}">{{ button.anchor }}</a>
                                {% else %}
                                <a class="button is-primary is-medium is-fullwidth has-box-shadow is-inverted _is-outlined" href="{{ button.url }}">{{ button.anchor }}</a>
                                {% endif %}
                            </div>
                            {% endfor %}
                       
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>