{# Page specific CCS #}
{# ------------------------ #}
{% block page_css %}
    {% do assets.addCss('theme://css/dist/openlayers/ol.css') %}
    {% do assets.addCss('theme://css/dist/openlayers/ol-ext.min.css') %}   
{% endblock %}

{# Page specific JS #}
{# ------------------------ #}
{% block page_js %}
       {% do assets.addJs('theme://js/dist/openlayers/ol.js') %}
       {% do assets.addJs('theme://js/dist/openlayers/ol-ext.min.js') %}
{% endblock %}

<section class="map-container is-clearfix">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third-desktop">
                <h2 class="title">Where to find us</h2>
                <address class="">
                <h4 class="">{{ config.hackspace.name }}</h4>
                {{ config.hackspace.buildingname }},<br/>
                {{ config.hackspace.streetname }},<br/>
                {{ config.hackspace.town }},<br/>
                {{ config.hackspace.postcode }}
                </address>
                <a class="is-block is-spaced" href="mailto:{{ config.hackspace.email|safe_email }}">{{ config.hackspace.email }}</a>
                <ul>
                    <li><a target="_blank" rel="noopener" href="{{ config.hackspace.twitter }}">Twitter</a></li>
                    <li><a target="_blank" rel="noopener" href="{{ config.hackspace.facebook }}">Facebook</a></li>
                    <li><a target="_blank" rel="noopener" href="{{ config.hackspace.instagram }}">Instagram</a></li>
                    <li><a target="_blank" rel="noopener" href="{{ config.hackspace.slack }}">Slack</a></li>
                    <li><a target="_blank" rel="noopener" href="{{ config.hackspace.github }}">Github</a></li>
                    <li><a target="_blank" rel="noopener" href="{{ config.hackspace.discourse }}">Discourse</a></li>
                </ul>
            </div>

            <div class="column is-two-thirds-desktop">
                <div id="map" class="map--home"></div>
                <script src="{{ url('theme://js/leighhack-map-contact.js') }}" defer="defer"></script>
            </div>

        </div>
    </div>
</section>